<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <link rel="stylesheet" href="/src/css/jk-rating-stars.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/src/css/app.css">
    </head>
<body ng-app="videoPortal">
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please upgrade your browser to improve your experience and security.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header-container" ng-controller="HeaderController">
        <h3><a href="/play-list">Video Portal</a></h3>
        <h4 ng-if="userData && userData.userName" ng-bind="userData.userName"></h4>
        <h4 ng-if="userData && userData.sessionId"> <a href='/logout'>Logout</a> </h4>
    </div>
    <div ng-view></div>
    <script type="text/javascript" src="/lib/angular/angular.js"></script>
    <script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="/lib/angular-cookies/angular-cookies.js"></script>
    <script type="text/javascript" src="/lib/angular-messages/angular-messages.js"></script>
    <script type="text/javascript" src="/src/js/lib/angular-lazy-loader.js"></script>
    <script type="text/javascript" src="/src/js/lib/jk-rating-stars.js"></script>
    <script type="text/javascript" src="/src/js/app/app.js"></script>
    <script type="text/javascript" src="/src/js/app/resources.js"></script>
    <script type="text/javascript" src="/src/js/app/routes.js"></script>
    <script type="text/javascript" src="/src/js/app/controllers/login.js"></script>
    <script type="text/javascript" src="/src/js/app/controllers/logOut.js"></script>
    <script type="text/javascript" src="/src/js/app/controllers/header.js"></script>
    <script type="text/javascript" src="/src/js/app/controllers/videoList.js"></script>
    <script type="text/javascript" src="/src/js/app/controllers/videoDetail.js"></script>
    <script type="text/javascript" src="/src/js/app/services/constants.js"></script>
    <script type="text/javascript" src="/src/js/app/services/user.js"></script>
    <script type="text/javascript" src="/src/js/app/services/video.js"></script>
    </body>
</html>
