<div class="wrapper video-list">
    <div class="box box-ele" ng-animate="'animate'" ng-repeat="video in data.videos" ng-click="watchVideo(video._id)">
        <h5 ng-bind="video.name"></h5>
        <video class="video-ele" angular-lazy-load>
          <source type="video/mp4" ng-if="video.url" data-src="/{{video.url}}">
          Your browser does not support the video tag.
        </video>
        <jk-rating-stars max-rating="5" rating="video.rating" read-only="true" ></jk-rating-stars>
        <p ng-bind="video.description"></p>
    </div>
</div>
