<div class="wrapper">
     <div id="data.video._id" class="box selected-box">
        <h5 ng-bind="data.video.name"></h5>
        <video class="video-ele" controls="">
          <source type="video/mp4" ng-if="data.video.url" src="/{{data.video.url}}">
          Your browser does not support the video tag.
        </video>
        <jk-rating-stars max-rating="5" rating="data.video.rating" on-rating="setRating(data.video._id, rating)"></jk-rating-stars>
        <p ng-bind="data.video.description"></p>
    </div>
    <div class="unselected-container">
        <div class="box unselected-box" ng-repeat="video in data.videos" ng-click="watchVideo(video._id)" ng-if="video._id!=data.id">
            <h5 ng-bind="video.name"></h5>
            <div class="content">
                <video class="video-ele">
                  <source type="video/mp4" src="/{{video.url}}">
                  Your browser does not support the video tag.
                </video>
                <jk-rating-stars max-rating="5" rating="video.rating" read-only="true" > </jk-rating-stars>
                <p ng-bind="video.description"></p>
            </div>
        </div>
    </div>
</div>
